# Dependencies
node_modules/

# Build
dist/
build/
coverage/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Nest / tooling
.turbo/
*.tsbuildinfo
